   <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-11.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Welcome to <span>Heathway Investment</span></h2>
              <p>A reputable organization that provides first class services, we also contribute vastly in the economy through tax payments but we pride ourselves for the role with play in job creations for people from different classes and backgrounds.</p>
              <div class="text-center"><a href="/about" class="btn-get-started">Read More</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-22.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>About Our Organization</h2>
              <p>Heathway Investment is a company that was incorporated on 12 September 2009 under certificate no. 70 of 2009.It has mothered a few other companies like <strong>Heathway Construction</strong>,
<strong>Heathway Electrical</strong>, <strong>Heathway Security</strong> and <strong>Heathway Couriers</strong>.</p>
              <div class="text-center"><a href="/About" class="btn-get-started">Read More</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-33.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>A Reputable Organization</h2>
              <p>Providing first class services and contributing vastly in the economy through
tax payments but we pride ourselves for the role with play in job creations for people from
different classes and backgrounds.</p>
              <div class="text-center"><a href="/About" class="btn-get-started">Read More</a></div>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
    </div>
  </section><!-- End Hero -->
 
 
 <main id="main">

  <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</strong></h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="assets/img/slide/slide-11.jpg" class="img-fluid top-border" alt="" style = "border-radius:6px;">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
		     <h2><span>Who We Are ?</h2>
            <p>
              Heathway Investment is a company that was incorporated on 12 September 2009 under certificate no. 70 of 2009.It has mothered a few other companies like
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Heathway Construction</li>
              <li><i class="ri-check-double-line"></i> Heathway Electrical</li>
              <li><i class="ri-check-double-line"></i> Heathway Security </li>
			  <li><i class="ri-check-double-line"></i> Heathway Couriers </li>
            </ul>
            <p class="font-italic">
              With this being said, Heathway Investments is a reputable organization that does not only experienced in providing first class servicea.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Services</strong></h2>
          <p>Heathway Investments offers three main types of services</p>
        </div>

        <div class="row" >
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue top-border">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                </svg>
                <i class="bx bxs-shield"></i> 
              </div>
              <h4 style = "color:white"><a href="">Security</a></h4>
              <p>Over the years, our security business has seen itself grow in the industry through commitment investment from its experienced management and staff</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-blue top-border">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                   <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                </svg>
                <i class="bx bxs-truck"></i>
              </div>
              <h4><a href="">logistics</a></h4>
              <p>Heathway Couriers continuously strives at being recognized as the best logistics and courier service provider within the SADC region.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-blue top-border">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                </svg>
                <i class="bx bxs-cog"></i>
              </div>
              <h4><a href="">Construction</a></h4>
              <p>Our diverse portfolio includes not only industrial, residential, commercial and hospitality, but institutional, energy, transportation and governmental projects as well.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Products & Portfolio</h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
			  <li data-filter=".electrical">Electrical</li>
              <li data-filter=".security">Security</li>
              <li data-filter=".logistics">Logistics</li>
              <li data-filter=".construction">Construction</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item electrical">
            <img src="assets/img/portfolio/conduit.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Conduit Pipe</h4>
              <p>E20.00 </p>
              <a href="assets/img/portfolio/conduit.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Conduit Pipe"><i class="bx bx-plus"></i></a>
              <a href="/electrical" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web electrical">
            <img src="assets/img/portfolio/floodlight.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Flood Light</h4>
              <p>E60.00</p>
              <a href="assets/img/portfolio/floodlight.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Flood Light"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app electrical">
            <img src="assets/img/portfolio/meterbox.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Meter Box DB</h4>
              <p>E350.00</p>
              <a href="assets/img/portfolio/meterbox.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Meter Box"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card security">
            <img src="assets/img/portfolio/installation.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Camera</h4>
              <p>Installed Dome Camera</p>
              <a href="assets/img/portfolio/installation.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
		  
		      <div class="col-lg-4 col-md-6 portfolio-item filter-card security">
            <img src="assets/img/portfolio/bouncers.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Security Bouncers</h4>
              <p>Experienced Security Bouncers</p>
              <a href="assets/img/portfolio/bouncers.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Securuty Bouncers"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web security">
            <img src="assets/img/portfolio/securitykit.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Installation Kit</h4>
              <p>E1500.00</p>
              <a href="assets/img/portfolio/securitykit.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app logistics">
            <img src="assets/img/portfolio/truck2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <a href="assets/img/portfolio/truck2.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
		  
          <div class="col-lg-4 col-md-6 portfolio-item filter-card logistics">
            <img src="assets/img/portfolio/truck.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Anker Transport</h4>
              <p>Local Shipment</p>
              <a href="assets/img/portfolio/truck.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Anker Transport"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web construction">
            <img src="assets/img/portfolio/foundation.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Commonwealth Offices</h4>
              <p>Zulwini Gables</p>
              <a href="assets/img/portfolio/foundation.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Commonwealth Offices"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Clients</h2>
        </div>

        <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-7.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-8.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Clients Section -->

  </main><!-- End #main -->