  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portolio</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Portolio</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

 <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Products & Portfolio</h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
			  <li data-filter=".electrical">Electrical</li>
              <li data-filter=".security">Security</li>
              <li data-filter=".logistics">Logistics</li>
              <li data-filter=".construction">Construction</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item electrical">
            <img src="assets/img/portfolio/conduit.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Conduit Pipe</h4>
              <p>E20.00 </p>
              <a href="assets/img/portfolio/conduit.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Conduit Pipe"><i class="bx bx-plus"></i></a>
              <a href="/electrical" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web electrical">
            <img src="assets/img/portfolio/floodlight.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Flood Light</h4>
              <p>E60.00</p>
              <a href="assets/img/portfolio/floodlight.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Flood Light"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app electrical">
            <img src="assets/img/portfolio/meterbox.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Meter Box DB</h4>
              <p>E350.00</p>
              <a href="assets/img/portfolio/meterbox.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Meter Box"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card security">
            <img src="assets/img/portfolio/installation.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Camera</h4>
              <p>Installed Dome Camera</p>
              <a href="assets/img/portfolio/installation.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
		  
		      <div class="col-lg-4 col-md-6 portfolio-item filter-card security">
            <img src="assets/img/portfolio/bouncers.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Security Bouncers</h4>
              <p>Experienced Security Bouncers</p>
              <a href="assets/img/portfolio/bouncers.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Securuty Bouncers"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web security">
            <img src="assets/img/portfolio/securitykit.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Installation Kit</h4>
              <p>E1500.00</p>
              <a href="assets/img/portfolio/securitykit.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app logistics">
            <img src="assets/img/portfolio/truck2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <a href="assets/img/portfolio/truck2.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
		  
          <div class="col-lg-4 col-md-6 portfolio-item filter-card logistics">
            <img src="assets/img/portfolio/truck.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Anker Transport</h4>
              <p>Local Shipment</p>
              <a href="assets/img/portfolio/truck.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Anker Transport"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web construction">
            <img src="assets/img/portfolio/foundation.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Commonwealth Offices</h4>
              <p>Zulwini Gables</p>
              <a href="assets/img/portfolio/foundation.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Commonwealth Offices"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->