  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{portfolio}}</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>{{portfolio}}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Products & Portfolio</h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
			  <li data-filter=".electrical" id = "electricity">Supplies & Electrical</li>
              <li data-filter=".security">Security</li>
              <li data-filter=".logistics">Logistics</li>
              <li data-filter=".construction">Construction</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item electrical">
            <img src="assets/img/portfolio/earthspike.jpg" class="img-fluid top-border" alt="" >
            <div class="portfolio-info">
              <h4>Earth Spike</h4>
              <p>E20.00</p>
              <a style = "border-radius: 5px;" href="assets/img/portfolio/earthspike.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Earth Spike"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web electrical">
            <img src="assets/img/portfolio/cbi soc.jpg" class="img-fluid top-border" alt="" >
            <div class="portfolio-info">
              <h4>CBI SOC</h4>
              <p>E60.00</p>
              <a href="assets/img/portfolio/cbi soc.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="CBI soc"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app electrical">
            <img src="assets/img/portfolio/conduit.jpg" class="img-fluid top-border" alt="">
            <div class="portfolio-info">
              <h4>Conduit Pipes</h4>
              <p>E350.00</p>
              <a href="assets/img/portfolio/conduit.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Conduit Pipes"><i class="bx bx-plus"></i></a>
            </div>
          </div>
		  
		   <div class="col-lg-4 col-md-6 portfolio-item filter-card electrical">
            <img src="assets/img/portfolio/eyebolt.jpg" class="img-fluid top-border" alt="">
            <div class="portfolio-info">
              <h4>Eye Bolt</h4>
              <p>E78.00</p>
              <a href="assets/img/portfolio/eyebolt.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Eye Bolt"><i class="bx bx-plus"></i></a>
            </div>
          </div>
		  
		  <div class="col-lg-4 col-md-6 portfolio-item filter-card electrical">
            <img src="assets/img/portfolio/lear.jpg" class="img-fluid top-border" alt="">
            <div class="portfolio-info">
              <h4>Lear</h4>
              <p>E78.00</p>
              <a href="assets/img/portfolio/lear.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Lear"><i class="bx bx-plus"></i></a>
            </div>
          </div>
		  
		   <div class="col-lg-4 col-md-6 portfolio-item filter-card electrical">
            <img src="assets/img/portfolio/floodlight.jpg" class="img-fluid top-border" alt="">
            <div class="portfolio-info">
              <h4>Eye Bolt</h4>
              <p>E78.00</p>
              <a href="assets/img/portfolio/floodlight.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Eye Bolt"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card security">
            <img src="assets/img/portfolio/installation.jpg" class="img-fluid top-border" alt="">
            <div class="portfolio-info">
              <h4>Camera</h4>
              <p>Installed Dome Camera</p>
              <a href="assets/img/portfolio/installation.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Surveyllance Cameras"><i class="bx bx-plus"></i></a>
            </div>
          </div>
		  
		  <div class="col-lg-4 col-md-6 portfolio-item filter-card security">
             <img src="assets/img/portfolio/bouncers.jpg" class="img-fluid top-border" alt="">
             <div class="portfolio-info">
              <h4>Security Bouncers</h4>
              <p>Experienced Security Bouncers</p>
              <a href="assets/img/portfolio/bouncers.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Security Bouncers"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web security">
            <img src="assets/img/portfolio/securitykit.jpg" class="img-fluid top-border" alt="">
            <div class="portfolio-info">
              <h4>Installation Kit</h4>
              <p>E1500.00</p>
              <a href="assets/img/portfolio/securitykit.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Installation Kit"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app logistics">
            <img src="assets/img/portfolio/truck2.jpg" class="img-fluid top-border" alt="">
            <div class="portfolio-info">
              <h4>HeathWay Trailer</h4>
              <p>Logistics Truck</p>
              <a href="assets/img/portfolio/truck2.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="HeathWay Trailer"><i class="bx bx-plus"></i></a>
            </div>
          </div>
		  
          <div class="col-lg-4 col-md-6 portfolio-item filter-card logistics">
            <img src="assets/img/portfolio/truck.jpg" class="img-fluid top-border" alt="">
            <div class="portfolio-info">
              <h4>Anker Transport</h4>
              <p>Local Shipment</p>
              <a href="assets/img/portfolio/truck.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Anker Transport"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web construction">
            <img src="assets/img/portfolio/foundation.jpg" class="img-fluid top-border" alt="">
            <div class="portfolio-info">
              <h4>Commonwealth Offices</h4>
              <p>Zulwini Gables</p>
              <a href="assets/img/portfolio/foundation.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Commonwealth Offices"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Portfolio Section -->
  </main><!-- End #main -->